<div *ngIf="nuoviArriviList">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let nuovoArrivo of nuoviArriviList">
        <img
          [src]="nuovoArrivo.immagine"
          class="card-img-top"
          alt="scarpa nike "
          width="50%"
        />
        <p>
          <a [routerLink]="['/dettaglio-prodotto', nuovoArrivo.id]">
            Dettaglio Prodotto</a
          >
        </p>
        <label for="nome" class="form-label"
          >Nome : {{ nuovoArrivo.nome }}</label
        >
        <label for="prezzo" class="form-label">
          Prezzo : {{ nuovoArrivo.prezzo }}</label
        >
      </div>
    </div>
  </div>
</div>
